
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

main {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: justify;
  color: #555;
}

ul {
  list-style: none;
  text-align: center; /* Alinha os itens da lista */
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

ul li a {
  text-decoration: none;
  color: #007aff;
  font-size: 18px;
  display: block;
  text-align: center;
}

ul li:last-child {
  border-bottom: none;
}
